.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* .section {
    width: 100%;
    height: 50px;
    background-color: #eee;
    margin-bottom: 10px;
  } */
  
  .rectangle {
    position: relative;
    /* width: 100%;
    height: 50px; */
  }
  
  .rectangle1 {
    width: 10vw;
    height:15vw;
    border-radius: 35%;
    background-color: red;
  }
  
  .rectangle2 {
    top: 60px;
    width: 10vw;
    height:15vw;
    border-radius: 35%;
    background-color: rgb(157, 255, 0);
  }
  
  .rectangle3 {
    top: 120px;
    width: 10vw;
    height:15vw;
    border-radius: 35%;
    background-color: rgb(255, 251, 0);
  }
  
  .rectangle4 {
    top: 180px;
    width: 10vw;
    height:15vw;
    border-radius: 35%;
    background-color: rgb(30, 0, 255);
  }
  
  .rectangle5 {
    top: 240px;
    width: 10vw;
    height:15vw;
    border-radius: 35%;
    background-color: rgb(202, 10, 255);
  }
  